@{
    ViewData["Title"] = "Home Page";
}

<h1>Happening right now on CaveBase</h1>
<div id="app">
    <div id="messageList"></div>
</div>

@section scripts {
    <script src="~/js/vue.js"></script>
    <script src="~/lib/signalr/dist/browser/signalr.js"></script>
    <script>

        var app = new Vue({

            el: "#app",

            data: {
                connection: null
            },

            created: function () {
                var self = this;
                self.SetUpSignalR();
            },

            methods: {

                SetUpSignalR: function () {
                    self = this;
                    self.connection = new signalR.HubConnectionBuilder().withUrl("/CaveBaseHub").build();

                    self.connection.on("ReceiveUpdateCountry", function (country, oldcountry, message) {
                        //created li element with correct class
                        var p = document.createElement("p");
                        p.className = "updateMessage";

                        //add info about the old country, a br and the new info; received from signal R
                        p.innerHTML = `${country.name} (${country.shortName}) ${message}<br>`;
                        p.innerHTML += `${oldcountry.name} (${oldcountry.shortName}) - old values.`;

                        document.getElementById("messageList").appendChild(p);
                    });

                    self.connection.start().catch(function (err) {
                        return console.error(err.toString());
                    });
                }
            }
        });

    </script>
}
